{% extends 'home/base.html'%}
{% load static %}



{% block body %}
<section id="blog" class="blog-mf sect-pt4 route">
        <div class="text-center">
                <div class="row">
                        <div class="card card-blog"><br>
                                <form action="" enctype="multipart/form-data" method="post">
                                        {% csrf_token %}
                                        {{form.as_p}}
                                        <button type="submit" class="button button-a button-big button-rouded"> Save </button>
                                        <br><br>
                                </form>

                        </div>
                </div>
        </div>
</section>
{% endblock  %}


